# Open-Meteo Weather API
openmeteo-requests
requests-cache
retry-requests

# Data Processing
pandas>=2.0
numpy

# Database
sqlalchemy>=2.0
psycopg2-binary

# Environment variables
python-dotenv

#Streamlit
streamlit
plotly
altair